/* General styling reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fa;
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar button */
a button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

a button:hover {
  background-color: #555;
}

button.red {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: red;
}

/* Messages container styling */
#messages-container {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 80vh;
  overflow: auto;
}

/* Message alignment */
.message-left,
.message-right {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  max-width: 75%;
}

.message-left {
  background-color: #e0f7fa;
  text-align: left;
  border: 1px solid #b2ebf2;
}

.message-right {
  background-color: #c8e6c9;
  text-align: right;
  margin-left: auto;
  border: 1px solid #a5d6a7;
}

#messages-container p {
  font-size: 0.95em;
  color: #333;
}

/* Form styling */
form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

textarea {
  width: 85%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  margin-bottom: 10px;
  font-size: 1em;
  height: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 40px;
  margin-left: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Heading */
h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

#dialog-box {
  inset: 0.5rem;
  margin: auto;
  width: 400px;
  height: 150px;
}

#dialog-box.open {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#dialog-box button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

#dialog-box button.red {
  background-color: red;
}

#dialog-box div.buttons-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 0px;
}

#block-user-confirm-form {
  width: 65px;
}


::backdrop {
  background-color: gray;
  opacity: 0.75;
}
