
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Status</title>

    <link rel="stylesheet" type="text/css" href="{% static 'reporting/reporting_form.css' %}">
</head>
<body>
    <div class="navbar">
        <h1>Report Status</h1>
        <a href="{% url 'maps:map_view' %}" class="nav-link">Home</a>
        
    </div>

</head>


    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit">Submit</button>
    </form>
</body>
</html>