/* alerts.css */

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navbar styling */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.navbar h1 {
    font-size: 1.5em;
    color: #fff;
    margin: 0;
}

.navbar button, .navbar a {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.navbar button:hover, .navbar a:hover {
    background-color: #45a049;
}

/* Container styling */
.container {
    align-self: center;
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Headings */
h1 {
    font-size: 2em;
    color: #005b96;
    text-align: center;
    margin-bottom: 1.5rem;
}

h2, h4 {
    font-size: 1.5em;
    color: #005b96;
    margin-bottom: 1rem;
    text-align: center;
}

/* Paragraph Styling */
p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 1rem;
}

/* Alerts List */
.list-group {
    width: 100%;
}

.list-group-item {
    background-color: #e9f5fc;
    border: 1px solid #d0e9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.list-group-item h4 {
    font-size: 1.3em;
    color: #005b96;
    margin-bottom: 10px;
}

.list-group-item p {
    font-size: 1em;
    color: #555;
}

.list-group-item ul {
    list-style-type: none;
    padding-left: 0;
}

.list-group-item ul li {
    margin-bottom: 5px;
    color: #555;
}

.list-group-item small {
    color: #777;
}

/* Button Styling */
button, .go {
    padding: 10px 20px;
    background-color: #005b96;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover, .go:hover {
    background-color: #003f6b;
}

/* Return to Map Button */
.btn-primary {
    background-color: #005b96;
    border-color: #005b96;
}

.btn-primary:hover {
    background-color: #003f6b;
    border-color: #003f6b;
}

/* Checkbox Styling */
.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px; /* Vertical space between rows */
    column-gap: 40px; /* Horizontal space between columns */
    margin-top: 10px;
}

.line-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px; /* Padding around each checkbox-label pair */
    text-align: center;
    margin: 5px; /* Space between rows and columns */
}

.form-check-input {
    display: none;
    margin-right: 8px; /* Space between checkbox and label */
    transform: scale(1.2); /* Slightly enlarge checkboxes */
}

.form-check-label {
    font-weight: bold;
    color: #005b96;
    font-size: 14px;
    margin: 0 5px;
    border: 1px solid black;
    height: 22px;
    width: 22px;
    border-radius:50%;
}

.form-check-input:checked + .form-check-label{
    background-color: #45a049;
    color: white;
}


/* Adjust container alignment and size */
#filter-container {
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

/* Line Icon Styling */
.line-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    margin: 0 5px;
    color: #ffffff;
    height: 24px;
    width: 24px;
    box-sizing: border-box;
}